# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build artifacts
/bin/
/obj/
/**/bin/
/**/obj/

# Rider
.idea/

# OS files
Thumbs.db
.DS_Store

# Node
node_modules/
npm-debug.log

# Logs
.vs/*/FileContentIndex/
